.pagination {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.pagination button {
    padding: 5px 10px;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .disabled {
    opacity: 0.3;
    pointer-events: none;
}