.users-list {
    list-style: none;
}

.users-list >li {
    margin: 10px 0;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-list__router-link {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.users-list__external-link {
    margin-left: 15px;
    margin-right: 25px;
}

.users-list__avatar-preview {
    margin-right: 15px;
    width: 100%;
    max-width: 100px;
    height: auto;
}